body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dadfea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 300px;
  height: 250px;
  background-color: rgb(210, 194, 233);
  border-radius: 25px;
  border: 1px solid #413a3a;
}

.container h1 {
  margin: 0;
  font-size: 4rem;
}

.container h2 {
  margin: 0px 8px;
  font-size: 1,5rem;
}

.buttons button{
    border: 1px solid #413a3a;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    margin: 8px 5px;
}

.buttons button:hover {
  transform: translateY(-1px);
}

.buttons button:active {
  transform: translateY(1px);
}

.plus {
  background-color: rgb(91, 137, 89);
}

.minus {
  background-color: #bd7575;
}